.ltbar{
    height: 50px;
    line-height: 50px;
    background: #333333;
}

.lgbar{
    height:50px;
}

.lbar{
    width:12%;
    min-height: 800px;
    max-height:900px;
}

.lbar-list{
    text-align:center;
}

.lbar-list li{
    color:#eaeeed;
    list-style: none;
    font-size: 14px;
    height:54px;
    line-height: 54px;
    font-family: "Microsoft Yahei","微软雅黑",verdana;
    font-weight: 700;
    cursor: pointer;
}

.lbar-list a:hover{
    color:#00b38a;
}

.addSort{
    padding-left:15%;
    padding-top: 100px;
    background: #ffffff;
    width: 100%;
}

.location{
    margin-top: 50px;
    text-align: center;
}

.font{
    font-weight: 800;
    font-size: 16px;
}

.operateion{
    margin-left: 15px;
}

.modify{
    color:#000000;
}

.modify:hover{
    color:#00b38a;
}