.navBox{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    z-index: 300;
    width: 100%;
}
.lg-tbar{
    height:30px;
    background: #333333;
}
.inner{
    position: relative;
    margin:0 auto;
}
.lg-tbar-l{
    float:left;
}
#lg-tbar-r{
    float:right;
    margin-right: 18px;
}
.topic{
    line-height:30px;
    font-size: 14px;
    color: white;
    padding:0 0 0 30px;
}
.login{
    padding: 0 12px;
    line-height:30px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}
.lg-tnav{
    height:54px;
    border-top:1px solid #d2d2d2;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fafafa;
}
.list{
    text-align: center;
}
.list li{
    display:none;
    display:inline;
    list-style: none;
    font-size: 16px;
    line-height: 54px;
    font-family: "Microsoft Yahei","微软雅黑",verdana;
    font-weight: 700;
    margin:3%;
    cursor: pointer;
}

.list a{
    color:black;
    text-decoration: none;
}

.list a:hover{
    color:#00b38a;
}

.list span{
    padding:  1px 0;
}
span.colorA:focus, span.colorA:hover, span.colorA:active{
    /*text-decoration: underline!important;*/
    text-decoration: none;
    border-bottom: 4px solid #00b38a;
    /*color: #00b38a!important;*/
}

span.action  {
    text-decoration: none!important;
    border-bottom: 4px solid #00b38a!important;
    /*color: #00b38a!important;*/
}

.hidden{
    display: none;
}

