.pc-content-wrap{
    background: url(//assets.dajieimg.com/up/profile2013/images/bg.png) 0 0 repeat #dedede;
    padding:30px 0 40px;
}

.pc-content-inner{
    position: relative;
}

.pc-content-shadow{
    box-shadow: 1px 3px 3px rgba(150,152,153,0.3);
}

.pc-content-shadow{
    border:1px solid #ccc;
    width:960px;
    margin:auto;
}

#content{
    margin-top: 0;
}

.clearfix{
    zoom:1;
}

#content{
    width:960px;
    margin:0 auto;
    clear: both;
}

.maincolumn{
    float:none;
    margin:0;
    width: 960px;
}

.setting{
    background: #ffffff !important;
    overflow: hidden;
}

.navigation{
    width:178px;
    float: left;
    height: auto;
    padding-top: 100px;
    z-index: 20;
    border-right: 1px solid #d9d9d9;
    overflow: visible;
    position: relative;
}

.tabs{
    position: static;
    width: 177px;
    padding-left: 1px;
}

.tabs ul{
    margin-left: 22px;
    padding-bottom: 80px;
}

.tabs ul li{
    float: none;
    position: relative;
    height: 40px;
    margin-right: 0px;
    list-style-type: none;
}

.tabs a{
    top:2px;
    width: 156px;
    height: 45px;
    line-height: 42px;
    font-weight: bold;
    text-decoration: none;
    color: #666666;
}

.tabs ul li a{
    position: absolute;
    display: block;
    height: 38px;
    top:0;
    left:0;
    width: 100%;
    padding: 0;
    background: none;
    color: #666;
    font-size: 14px;
    line-height: 38px;
    text-indent: 44px;
}

a{
    text-decoration: none;
}

.room{
    margin-left:178px;
    padding:42px 50px 60px 50px;
    border-left:1px solid #d9d9d9;
    position: relative;
}

.uploading{
    padding: 0 0 70px;
    background: #ffffff;
    position:absolute;
    width: 100%;
}

.modify-box{
    width:100%;
}

.set-title{
    width:100%;
    height:28px;
    padding-bottom: 6px;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 20px;
    font:normal 18px/28px 'Microsoft Yahei','SimHei';
}

#send:target,#modify-psw:target{
    z-index: 1;
}

.modify-psw-box{
    padding-top: 20px;
    margin:0 auto 40px auto;
}